<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleActiveClass()">
      <i class="fas fa-align-left"></i>
      <span> Menu</span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link section-main-title">Lista de Trabajos<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
      <button type="button" class="btn btn-link add-button" data-toggle="modal" data-target="#addRecord"><span
          class="text-success mr-2"><i class="far fa-plus-square"></i></span>Agregar Registro</button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h4 class="subtitle"><span class="subtitle-icon"><i class="fas fa-clipboard-list"></i></span>Registros</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table id="workTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th class="col-span-2">Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Termino</th>
            <th>Fecha Programada</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of workList" [routerLink]="['work', m.name]">
            <td>{{m.name}}</td>
            <td class="col-span-2">{{m.description}}</td>
            <td>$ {{m.startDate}}</td>
            <td>{{m.programmedDate}}</td>
            <td>$ {{m.endDate}}</td>
            <td class="text-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">
                  <span><i class="far fa-edit"></i></span>
                </button>
                <button type="button" class="btn btn-danger">
                  <span><i class="far fa-trash-alt"></i></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addRecord" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          <span class="text-success mr-2"><i class="far fa-plus-square"></i></span>
          Agregar Registro
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
              <label for="exampleFormControlInput1">Información</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Información</label>
              <input type="number" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Información</label>
              <input type="number" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Información</label>
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Información</label>
              <input type="time" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
              <label for="exampleFormControlInput1">Información</label>
              <textarea type="text" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>
</div>
