/*
  Global Styles Configuration
*/
p{
  /*
    Override all the <p></p> elements in the document
  */
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #0F0F0F;
}

.wrapper{
  /*
    Will be the main container of the web page. The display is
    set as flex in order to have a fixed sidebar to the left and
    the rest of the content to the right.
    The width is set to 100% in order to cover all the available
    x-axis space.
  */
  display: flex;
  width: 100%;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/*
  Sidebar Configuration
*/
#sidebar{
  /*
    Main Navigation in a given module.

    @param width: set to always be 250px.
    @param position: fixed to the viewport, meaning it will never change.
    @param top left: position of the sidebar in viewport top left corner.
    @param height: cover all available viewing height.
    @param z-index: always be on top.
    @transition: all borders, 3 seconds duration
  */
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--primary);
    color: #ffffff;
    transition: all 0.3s;
}

#sidebar.active {
  /*
    When @active class is present, the sidebar will be hidden.

    @param margin-left: move side bar 250px to the left. The value must be
    equal to the sidebar width.
  */
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0072eb;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #0055b1;
}

#sidebar ul p {
    color: #ffffff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #1485ff;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--primary);
}

ul.accounts {
    padding: 20px;
    bottom: 0;
    left: 0;
}

ul.accounts a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;

}

a.download {
    background: #ffffff !important;
    color: var(--primary) !important;
}

a.article,
a.article:hover {
    background: var(--primary) !important;
    color: #fff !important;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

tr:hover{
  cursor: pointer;
}

#fuelTable tr{
  cursor: auto;
}

.card{
  margin: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0px;
  max-height: 320px;
  min-height: 320px;
}
.card-header{
  border-bottom-color: rgba(0,0,0, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  text-align: center;
  line-height: 1.7em;
  font-size: 1.2em;
  font-weight: 500;
}

.card-header:hover{
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
  .card-icon{
    color: white;
  }
}

.card-half{
  margin: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0px;
  max-height: 200px;
  min-height: 200px;
}

.card-map{
  max-height: 640px;
  min-height: 640px;
}

.card-maintenance{
  max-height: 350px;
  min-height: 350px;
}

.card-graph{
  max-height: 220px;
  min-height: 220px;
}

.card-icon{
  color: var(--primary);
  margin-right: 5px;
}

.add-button {
  text-decoration: none;
  color: var(--dark);
  line-height: 1.7em;
  font-size: 1.2em;
}
.add-button:hover{
   text-decoration: none;
  color: var(--success);
}

.subtitle-icon{
  margin-right: 10px;
}

.subtitle{
  line-height: 2em;
  font-size: 2em;
  font-weight: 450;
  color: var(--primary);
}

.total-wrapper{
  h3{
    border-bottom: solid;
    border-color: var(--primary);
    border-width: 1px;
    padding-bottom: 20px;
  }
  p{
    font-size: 4em;
    color: var(--primary);
    font-weight: 500;
  }
}
.section-main-title{
  line-height: 1.7em;
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 20px;
  color: var(--primary)!important;
}
